<div class="main-page" style="width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center;">
  <h1>Welcome to myFlix!</h1>
  <div>
    <!-- Adding the click event on the signup button -->
    <button mat-raised-button (click)="openUserRegistrationDialog()" style="margin-right: 10px" color="primary">Sign Up</button>
    <button mat-raised-button (click)="openUserLoginDialog()" style="margin-right: 10px" color="primary">Login</button>
  </div>
</div>