<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1>myFlix</h1>
    <span style="flex: 1 1 auto"></span>
    <!-- <button mat-button (click)="openMovies()" style="margin-right: 10px" color="primary">Movies</button> -->
    <button mat-icon-button (click)="openUserFavoriteMoviesDialog()">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-button (click)="openUserProfileDialog()">Profile</button>
  </mat-toolbar-row>
</mat-toolbar>

<!-- <mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar> -->